<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='About')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDo List Final</h1>
        <ul>
            <li>Desarrollada por Domingo Gallardo</li>
            <li>Andrés Tebar Moreno</li>
            <li>Brais Valencia García</li>
            <li>Raúl García Carrión</li>
            <li>Versión 1.3.0</li>
            <li>Fecha de release: 25/11/20</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>