<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/about">ToDoList</a>
    <button class="navbar-toggler active" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/tareas">Tareas <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="nav-item dropdown my-2 my-lg-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nombre Usuario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDo List</h1>
        <ul>
            <li>Desarrollada por Domingo Gallardo</li>
            <li>Versión 1.0.2 </li>
            <li>Fecha de release: 25/09/2020</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>