<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Nueva tarea')"></head>

<body>
<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <h2 th:if="${proyecto == null}" th:text="'Nueva tarea para el usuario ' + ${usuario.getNombre()}"></h2>
    <h2 th:if="${proyecto != null}" th:text="'Nueva tarea para el proyecto ' + ${proyecto.getNombre()}"></h2>

    <form th:if="${proyecto == null}" method="post" th:action="@{/usuarios/{id}/tareas/nueva(id=${usuario.id})}" th:object="${tareaData}">
        <div class="col-6">
        <div class="form-group">
            <label for="titulo">Título de la tarea:</label>
            <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            <br>
            <label for="prioridad">Prioridad de la tarea:</label>
            <select class="custom-select" id="prioridad" name="prioridad" required th:field="*{prioridad}" type="integer">
                <option value=1>Prioridad 1</option>
                <option value=2>Prioridad 2</option>
                <option value=3>Prioridad 3</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Crear tarea</button>
        <a class="btn btn-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Cancelar</a>
        </div>
    </form>

    <form th:if="${proyecto != null}" method="post" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/nueva(id=${usuario.id},proyecto=${proyecto.id})}" th:object="${tareaData}">
        <div class="col-6">
            <div class="form-group">
                <label for="titulo">Título de la tarea:</label>
                <input class="form-control" id="tituloP" name="titulo" required th:field="*{titulo}" type="text"/>
                <br>
                <label for="prioridad">Prioridad de la tarea:</label>
                <select class="custom-select" id="prioridadP" name="prioridad" required th:field="*{prioridad}" type="integer">
                    <option value=1>Prioridad 1</option>
                    <option value=2>Prioridad 2</option>
                    <option value=3>Prioridad 3</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Crear tarea</button>
            <a class="btn btn-link" th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas(id=${usuario.id},proyecto=${proyecto.id})}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>