<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Equipos')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de Equipos'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo: ${equipos}">
                    <td th:text="${equipo.getId()}"></td>
                    <td ><a class="btn btn-link" th:text="${equipo.getNombre()}" th:href="@{/equipos/{id}(id=${equipo.getId()})}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<div th:replace="fragments::javascript"/>

</body>
</html>