<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Equipos')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de Equipos'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Unirme/Salir</th>
                    <th th:if="${usuario.getAdministrador()}">Cambiar Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo: ${equipos}">
                    <td th:text="${equipo.getId()}"></td>
                    <td ><a class="btn btn-link" th:text="${equipo.getNombre()}" th:href="@{/equipos/{id}(id=${equipo.getId()})}"></a></td>
                    <td>
                        <form method="post" th:unless="${equipo.getUsuarios().contains(usuario)}" th:action="@{/equipos/{id}(id=${equipo.getId()})}">
                            <button class="btn btn-success" type="submit">Unirme a equipo</button>
                        </form>

                        <form method="post" th:if="${equipo.getUsuarios().contains(usuario)}" th:action="@{/equipos/{id}/salir(id=${equipo.getId()})}">
                            <button class="btn btn-danger" type="submit">Salir del equipo</button>
                        </form>

                    </td>
                    <td th:if="${usuario.getAdministrador()}"><a class="btn btn-primary" th:href="@{/equipos/{id}/editar(id=${equipo.getId()})}">Editar</a></td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" href="/equipos/nuevo"> Nuevo equipo</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>