<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista De Usuarios')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de Usuarios'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Consultar Descripción</th>
                    <th>Bloquear/Habilitar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${usuarios}" th:unless="${user.administrador}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getNombre()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td><a class="btn btn-success btn-xs" th:href="@{/usuarios/{id}(id=${user.getId()})}"/>Detalles de usuario</a></td>
                    <td>
                        <form method="post" th:action="@{/usuarios/{id}/bloquear(id=${user.getId()})}" th:object="${usuario}">
                            <button th:unless="${user.getBloqueado()}" class="btn btn-danger" type="submit">Bloquear</button>
                            <button th:if="${user.getBloqueado()}" class="btn btn-success" type="submit">Habilitar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>