<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Proyectos')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:if="${!session.administrador}" th:text="'Proyectos del usuario ' + ${usuario.nombre}"></h2>
            <h2 th:if="${session.administrador}">Proyectos del sistema</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Equipo</th>
                    <th>Fecha límite</th>
                    <th th:if="${session.administrador}">Modificar</th>
                    <th th:if="${session.administrador}">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proyecto: ${proyectos}">
                    <td th:text="${proyecto.getId()}"></td>
                    <td ><a class="btn btn-link" th:text="${proyecto.getNombre()}" th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas(id=${usuario.getId()},proyecto=${proyecto.getId()})}"></a></td>
                    <td th:text="${proyecto.equipo.nombre}"></td>
                    <td th:if="${proyecto.getFechaLimite() != null}" th:text="${proyecto.getStringFechaLimite()}"></td>
                    <td th:if="${proyecto.getFechaLimite() == null}"> Sin fecha límite</td>
                    <td th:if="${usuario.getId()==proyecto.getEquipo().getUsuarioAdministrador().getId()|| usuario.getAdministrador()}">
                        <a class="btn btn-primary" th:href="@{/proyectos/{id}/editar(id=${proyecto.getId()})}">Modificar proyecto</a>
                    </td>
                    <td th:if="${usuario.getId()==proyecto.getEquipo().getUsuarioAdministrador().getId()|| usuario.getAdministrador()}">
                        <form method="post" th:action="@{/proyectos/{id}/eliminar(id=${proyecto.getId()})}">
                            <button class="btn btn-danger" type="submit">Eliminar proyecto</button>
                        </form>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>