<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Proyectos')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Proyectos del usuario ' + ${usuario.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th th:if="${session.administrador}">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proyecto: ${proyectos}">
                    <td th:text="${proyecto.getId()}"></td>
                    <td ><a class="btn btn-link" th:text="${proyecto.getNombre()}" th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas(id=${usuario.getId()},proyecto=${proyecto.getId()})}"></a></td>
                    <td th:if="${session.administrador}">
                        <form method="get" th:action="@{/proyectos/{id}/editar(id=${proyecto.getId()})}">
                            <button class="btn btn-primary" type="submit">Modificar proyecto</button>
                        </form>

                        <form method="post" th:action="@{/proyectos/{id}/eliminar(id=${proyecto.getId()})}">
                            <button class="btn btn-danger" type="submit">Eliminar proyecto</button>
                        </form>

                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>