<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Tareas proyecto')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Equipo propietario del proyecto: ' + ${equipo.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Tareas del proyecto ' + ${proyecto.nombre}"></h2>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <form method="get" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/buscar(id=${usuario.id},proyecto=${proyecto.id})}">
                <div class="form-group">
                    <label>Buscar:</label>
                    <input class="form-control" id="palabra" name="palabra" required type="text"/>
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>

        <div class="col">
            <form method="get" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/filtrar(id=${usuario.id},proyecto=${proyecto.id})}">
                <div class="form-group">
                    <label>Mostrar solamente las tareas:</label>
                    <select class="custom-select" id="filtrarEstado" name="filtrarEstado" required type="int">
                        <option value=0 selected="selected">Pendientes</option>
                        <option value=1>Activas</option>
                        <option value=2>Terminadas</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Filtrar</button>
            </form>
        </div>

        <div class="col">
            <form method="get" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/excluir(id=${usuario.id},proyecto=${proyecto.id})}">
                <div class="form-group">
                    <label>Excluir las tareas:</label>
                    <select class="custom-select" id="excluir" name="excluir" required type="int">
                        <option value=0 selected="selected">Pendientes</option>
                        <option value=1>Activas</option>
                        <option value=2>Terminadas</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Excluir</button>
            </form>
        </div>

        <div class="col">
            <form method="get" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/ordenar(id=${usuario.id},proyecto=${proyecto.id})}">
                <div class="form-group">
                    <label>Mostrar primero las tareas:</label>
                    <select class="custom-select" id="ordenar" name="ordenar" required type="int">
                        <option value=0 selected="selected">Pendientes</option>
                        <option value=1>Activas</option>
                        <option value=2>Terminadas</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Ordenar</button>
            </form>
        </div>

    </div>

    <p></p>
    <p><a class="btn btn-primary btn-xs" th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas(id=${usuario.id},proyecto=${proyecto.id})}"/>Quitar filtro</a></p>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tarea</th>
                    <th>Prioridad</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarea: ${tareas}">
                    <td th:text="${tarea.id}"></td>
                    <td><a th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas/{tarea}(id=${usuario.id},proyecto=${proyecto.id},tarea=${tarea.id})}" th:text="${tarea.titulo}"></a></td>
                    <td th:text="${tarea.prioridad}"></td>

                    <td th:if="${tarea.categoria.size() != 0}">
                        <a th:each="categoria: ${tarea.categoria}"
                           th:text="${categoria.titulo} + ' '"></a>
                    </td>
                    <td th:if="${tarea.categoria.size() == 0}">Sin Categoría</td>

                    <td>
                        <form method="post" th:action="@{/usuarios/{id}/proyectos/{proyecto}/tareas/{tarea}/estado(id=${usuario.id},proyecto=${proyecto.id},tarea=${tarea.id})}">
                            <div class="col-6">
                                <select class="custom-select" id="estado" name="estado" required type="integer">
                                    <option value=0 th:selected="${tarea.getEstado().ordinal() == 0}">PENDIENTE</option>
                                    <option value=1 th:selected="${tarea.getEstado().ordinal() == 1}">ACTIVA</option>
                                    <option value=2 th:selected="${tarea.getEstado().ordinal() == 2}">TERMINADA</option>
                                </select>
                                <input name="Actualizar" type="submit" value="Actualizar" />
                            </div>
                        </form>
                    </td>

                    <td th:if="${tarea.usuario.equals(usuario)}"><a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}/editar(id=${tarea.id})}"/>editar</a>
                        <form method="post" th:action="@{/tareas/{id}/eliminar(id=${tarea.getId()})}">
                            <button class="btn btn-danger" type="submit">eliminar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/usuarios/{id}/proyectos/{proyecto}/tareas/nueva(id=${usuario.id},proyecto=${proyecto.id})}"> Nueva tarea proyecto</a>
                <a class="btn btn-link" th:if="${!session.administrador}" th:href="@{/usuarios/{id}/proyectos(id=${usuario.id})}">Volver</a></p>
                <a class="btn btn-link" th:if="${session.administrador}" href="/proyectos">Volver</a></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Ejemplo de uso de Ajax para lanzar una petición DELETE y borrar una tarea -->

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la tarea?')) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function (results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    }
</script>

</body>
</html>