<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Usuarios Equipo')"></head>

<body>

<nav th:replace="fragments :: barra-menu"></nav>


<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Usuarios en el equipo: ' + ${equipo.getNombre()}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${usuarios}">
                    <td th:text="${user.getNombre()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                </tr>
                </tbody>
            </table>
            <form method="post" th:action="@{/equipos/{id}(id=${equipo.getId()})}">
                <button class="btn btn-primary" type="submit">Unirme a equipo</button>
                <a class="btn btn-link" href="/equipos">Volver a equipos</a>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>


</div>

<div th:replace="fragments::javascript"/>
</body>
</html>